@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}

.column p,
h2,
h3 {
    font-family: "Balsamiq Sans", cursive;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*responsive columns, stack if screen width < 600px*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#header {
    background: #274983;
}

#header #title {
    text-align: center;
    font-size: 32pt;
    font-family: "Balsamiq Sans", cursive;
    color: #fff;
}
